In [50]:
import nltk 
import pandas as pd 
import re 
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
## Using Count Vectorizer 
from sklearn.feature_extraction.text import CountVectorizer

In [51]:
message = pd.read_csv("D:/Nlp Projects/Spam Ham classification/spam.csv", encoding='latin1')
message.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [52]:
data = message.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1)

In [53]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [54]:
names=['label','data'] 

data.rename({
    "v1":"label",
    "v2":"text"} ,axis=1,inplace=True)

In [55]:
data.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Data Cleaning

In [56]:
ps=PorterStemmer()
corpus=[] 
for i in range(0,len(data)):
    review=re.sub('[^a-zA-Z]',' ',data['text'][i]) 
    review=review.lower()
    review=review.split()
    sentance=[ps.stem(word) for word in review if not word in stopwords.words("english")]
    review=" ".join(sentance)
    corpus.append(review)

In [60]:
## Create BOW : For binary set the binary=True 
cv=CountVectorizer(max_features=2500,binary=True)

X=cv.fit_transform(corpus).toarray()

In [61]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
X.shape

(5572, 2500)